
<% provide(:title, "Help") %>
<h1>Help /  Q&A </h1>
<p>
  now under construction
</p>

<h3> List of the view pages for the original data registered </h3>
<br><br>
  <li><a href="http://52.199.72.224/genes">Genes</a><br><br>
  <li><a href="http://52.199.72.224/transcripts">Transcripts</a><br><br>
  <li><a href="http://52.199.72.224/transcript_seqs">Transcript_seqs</a><br><br>
  <li><a href="http://52.199.72.224/dbpaths">Dbpaths</a><br><br>
