
<div class="center jumbotron">
  <h1>RF Genome Browser</h1>

  <h2>
    This is the genome browser by the
    <a href="https://regional.fish/">Regional Fish</a>.
  </h2>


  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rf.logo.png", alt: "RF logo", width: "200px"),
                      "https://regional.fish/" %>

