
<h1 class="display-4 text-primary" >Genes</h1>

<br>

<table class="table">

  <tr><th>Gene ID</th>
    <th>Id</th>
    <th>Project Id</th>
    <th>SeqId</th>
    <th>Source</th>
    <th>Type</th>
    <th>Start</th>
    <th>End</th>
    <th>Score</th>
    <th>Strand</th>
    <th>Phase</th></tr>

</table>

