// Place all the styles related to the Galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table { border: 2px #808080 solid; }
td { background-color: white; }

.container {
  display: flex;
  flex-wrap: wrap;
}
//#  align-content: space-between;

.item {
  color: #000000;
  margin: 5px;
  padding: 5px;
}
